* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
header {
  text-align: center;
}
h1 {
  margin: 40px auto;
  color: #412b7c;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  padding: 6px 10px;
  border: 1px solid #eee;
  margin: 10px auto;
}
li h4 {
  color: #412b7c;
  margin: 0;
  text-transform: capitalize;
}
li p {
  color: #333;
  margin: 8px 0 0;
}
footer {
  background: #eee;
  padding: 60px;
  margin-top: 60px;
}
form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
label {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
  margin: 16px 0 6px;
}

input,
select {
  padding: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 1rem;
}
.field {
  display: inline-block;
  margin: 0 10px;
}
button {
  color: white;
  border: 0;
  background: #412b7c;
  padding: 10px;
  min-width: 80px;
  border-radius: 4px;
}
footer {
  position: absolute;
  width: 100vw;
  left: 0;
  bottom: 0;
}

footer a {
  text-align: center;
  display: block;
  color: #999;
  font-size: 0.7em;
}
